.filmDetails{
	display: grid;
	grid-template-columns: 30% 70%;
	height: 100vh;
}

    @media screen and (max-width: 450px){
        .filmDetails{
            grid-template-columns: auto;
            grid-template-rows: 60% 40%;
        }
    }

.filmDetails section{
    align-self: center;
    justify-self: end;
    transition: 2s;
    width: 100%;
}

    @media screen and (max-width: 450px){
        .filmDetails section{
            align-self: end;
            padding-bottom: 10vw;
        }
    }

.film{
    font-size: 1vw;
	line-height: 3vw;
}

    @media screen and (max-width: 800px){
        .film{
            font-size: 1.8vw;
            line-height: 5vw;
        }
    }

    @media screen and (max-width: 550px){
        .film{
            font-size: 2.2vw;
            line-height: 6.5vw;
        }
    }

    @media screen and (max-width: 450px){
        .film{
            font-size: 3vw;
            line-height: 9vw;
        }
    }

.film:hover{
    padding-right: 1vw;
    color: #1fa5ff;
    transition: 0.5s;
}

.filmListItem{
	text-align: end;
}

    @media screen and (max-width: 450px){
        .filmListItem{
            text-align: center;
        }
    }

.filmDetails .arrows{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
    text-align: end;
    font-size: 2vw;
    padding-top: 2rem;
}

    @media screen and (max-width: 800px){
        .filmDetails .arrows{
            font-size: 3vw;
        }
    }

    @media screen and (max-width: 550px){
        .filmDetails .arrows{
            font-size: 4vw;
            padding-top: 1.5rem;
        }
    }

    @media screen and (max-width: 450px){
        .filmDetails .arrows{
            font-size: 8vw;
            padding-top: 1.5rem;
            grid-template-columns: 1fr 1fr;
            text-align: center;
        }
    }

.filmDetails .arrows a:hover{
    color: #1fa5ff;
    transition: 0.5s;
	transform: scale(1.2);
}

.filmDetails .nextLink{
    grid-area: 1/2/2/3;
}

.filmDetails .headline{
    font-family: 'star_jediregular';
    text-transform: uppercase;
    font-size: 12vw;
    line-height: 12vw;
    text-align: center;
    align-self: center;
    transition: 2s;
}

    @media screen and (max-width: 450px){
        .filmDetails .headline{
            font-size: 18vw;
            line-height: 18vw;
            align-self: start;
        }
    }

    @media screen and (max-width: 450px){
        .filmList{
            text-align: center;
        }
    }