.frontpage{
	display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr;
	height: 100vh;
}

    @media screen and (max-width: 600px){
        .frontpage{
            grid-template-columns: 50% 50%;
            grid-template-rows: 60% 40%;
        }
    }

    @media screen and (max-width: 450px){
        .frontpage{
            grid-template-rows: 50% 50%;
        }
    }

.frontpage .headline{
	font-family: 'star_jediregular';
	text-transform: uppercase;
	font-size: 12vw;
	line-height: 12vw;
	text-align: center;
	align-self: center;
	transition: 2s;
}

    @media screen and (max-width: 600px){
        .frontpage .headline{
            grid-area: 1/1/2/3;
            font-size: 18vw;
	        line-height: 18vw;
        }
    }

    @media screen and (max-width: 450px){
        .frontpage .headline{
            font-size: 22vw;
            line-height: 22vw;
            align-self: end;
            padding-bottom: 20vw;
        }
    }

.navigationButtons__first,
.navigationButtons__second{
    align-self: center;
}

.navigationButtons__first{
    text-align: end;
}

.navigationButtons__second{
    text-align: start;
}

.navigationButtons__first a,
.navigationButtons__second a{
    font-size: 2vw;
    transition: 2s;
    max-width: 100%;
}

    @media screen and (max-width: 800px){
        .navigationButtons__first a,
        .navigationButtons__second a{
            font-size: 3vw;
        }
    }

    @media screen and (max-width: 600px){
        .navigationButtons__first{
            padding-right:10vw;
            align-self: start;
        }
        
        .navigationButtons__second{
            padding-left: 10vw;
            align-self: start;
        }

        .navigationButtons__first a,
        .navigationButtons__second a{
            font-size: 4vw;
        }
    }

    @media screen and (max-width: 450px){
        .navigationButtons__first{
            padding-right:5vw;
        }
        
        .navigationButtons__second{
            padding-left: 5vw;
        }

        .navigationButtons__first a,
        .navigationButtons__second a{
            font-size: 5.5vw;
        }
    }

.navigationButtons__first a:hover{
    color: #1fa5ff;
    margin-right: 1vw;
	transition: 1s;
}

.navigationButtons__second a:hover{
    color: #1fa5ff;
    margin-left: 1vw;
	transition: 1s;
}

.navigationButtons__first article,
.navigationButtons__second article{
    border-bottom: 1px solid#FFCB1F;
    margin: 1vw 0;
}