.characterDetails{
	display: grid;
	grid-template-columns: 70% 30%;
	height: 100vh;
}

	@media screen and (max-width: 450px){
		.characterDetails{
			grid-template-columns: auto;
			grid-template-rows: 40% 60%;
		}
	}

.characterDetails .headline{
	font-family: 'star_jediregular';
	text-transform: uppercase;
	font-size: 12vw;
	line-height: 12vw;
	text-align: center;
	align-self: center;
	transition: 2s;
}

	@media screen and (max-width: 450px){
		.characterDetails .headline{
			font-size: 18vw;
			line-height: 18vw;
			align-self: end;
		}
	}

.characterDetails section{
    align-self: center;
	transition: 2s;
	text-align: start;
}

	@media screen and (max-width: 450px){
		.characterList{
			column-count: 2;
			text-align: center;
		}
	}

.character{
	font-size: 1vw;
	line-height: 3vw;
}

	@media screen and (max-width: 800px){
		.character{
			font-size: 1.8vw;
			line-height: 5vw;
		}
	}

	@media screen and (max-width: 550px){
		.character{
			font-size: 2.2vw;
			line-height: 6.5vw;
		}
	}

	@media screen and (max-width: 450px){
		.character{
			font-size: 3vw;
			line-height: 9vw;
		}
	}

.character:hover{
	padding-left: 1vw;
	color: #1fa5ff;
	transition: 0.5s;
}

.characterDetails .arrows{
	display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 2vw;
	padding-top: 2rem;
	text-align: start;
}

	@media screen and (max-width: 800px){
		.characterDetails .arrows{
			font-size: 3vw;
		}
	}

	@media screen and (max-width: 550px){
		.characterDetails .arrows{
			font-size: 4vw;
			padding-top: 1.5rem;
		}
	}

	@media screen and (max-width: 450px){
		.characterDetails .arrows{
			font-size: 8vw;
			padding-top: 1.5rem;
			grid-template-columns: 1fr 1fr;
			text-align: center;
		}
	}

.characterDetails .arrows a:hover{
    color: #1fa5ff;
    transition: 0.5s;
	transform: scale(1.1);
}

.characterDetails .nextLink{
    grid-area: 1/2/2/3;
}